{{- $args := .Params -}}
{{- $style := "simple" -}}
{{- $iconClass := "" -}}
{{- $safeArgs := slice -}}
{{- if gt (len $args) 0 -}}
  {{- range $args -}}
    {{- if strings.HasPrefix . "fa" -}}
      {{- if findRE "^fa[-:\\w\\s]+$" . -}}
        {{- $iconClass = . -}}
      {{- else -}}
        {{- $iconClass = "fa fa-info-circle" -}}
      {{- end -}}
    {{- end -}}
    {{- if findRE "^[A-Za-z0-9\\-_]+$" . -}}
      {{- $safeArgs = $safeArgs | append . -}}
    {{- end -}}
  {{- end -}}
{{- end -}}
<div class="note {{ range $safeArgs }}{{ . }} {{ end }}">
  {{- if $iconClass -}}<i class="note-icon {{ $iconClass }}"></i>{{- end -}}
  {{- .Inner | markdownify -}}
</div>
